.copyright__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;

  &:hover .copyright__htmlacademy-svg,
  &:focus .copyright__htmlacademy-svg {
    fill: @green;
  }

  &:active .copyright__htmlacademy-svg,
  &:active .copyright__link {
    opacity: 0.3;
  }
}

.copyright__link {
  display: block;
  font-family: @font-text;
  font-weight: 400;
  .set-font-size(16px; 16px);
  color: @greyish-brown;
}

.copyright__htmlacademy-svg {
  fill: @brownish-grey;
  display: block;
  .set-img-size(27px; 34px);
  line-height: 0;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin-right: 23px;
  }

  .copyright__text {
    padding: 0;
  }
}
