.example {
  background-color: @grey-f2;
  padding-top: 16px;
  padding-bottom: 34px;
}

.example__title {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(36px; 60px);
  color: @black;
  .reset-to-zero();
  margin-bottom: 24px;
}

.example__story {
  font-family: @font-text;
  font-weight: 400;
  .set-font-size(14px; 18px);
  color: @greyish-brown;
  .reset-to-zero();
  margin-bottom: 25px;
}

.example__proof {
  .reset-to-zero();
  .list-style-none();
  margin-bottom: 35px;
}

.example__spending {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(14px; 20px);
  color: @black;
  text-align: center;
  .uppercase();
  .reset-to-zero();
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .example {
    min-height: 1038px;
    position: relative;
    padding-top: 0;
    background-color: transparent;
  }

  .example::after {
    .pseudo();
    height: 462px;
    width: 100%;
    background-image: linear-gradient(to right, @grey-f2 50%, #eaeaea 50%);
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .example__title {
    .set-font-size(60px; 60px);
    margin-bottom: 64px;
  }

  .example__story {
    .set-font-size(16px; 24px);
    margin-bottom: 53px;
  }

  .example__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 260px;
  }

  .example__spending {
    width: 180px;
    .set-font-size(20px; 20px);
    text-align: right;
    margin: 0;
  }

  .example__cost {
    display: block;
    margin-bottom: 10px;
  }

  .example__proof {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .example {
    min-height: 462px;
    padding-bottom: 0;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__story {
    margin-bottom: 69px;
  }

  .example__cost {
    display: inline-block;
    margin-right: 60px;
  }

  .example__spending {
    width: auto;
  }

  .example__wrap {
    position: relative;
    display: flex;
    padding-bottom: 64px;
  }

  .example__block,
  .example__target {
    width: 50%;
  }

  .example__block {
    padding-right: 175px;
  }

  .example__target {
    right: 0;
    bottom: 74px;
  }

  .example__flex {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .example__proof {
    margin-bottom: 59px;
  }

  .example::after {
    background-image: linear-gradient(to right, @grey-f2 calc(50% + 400px), @grey-ea calc(50% + 400px));
  }
}
