.footer__inner {
  background-color: @grey-f2;
  .padding-l-r();
  padding-top: 39px;
}

.social__list {
  .reset-to-zero();
  .list-style-none();
}

.footer__for-dealers {
  .padding-l-r();
}

.footer__link {
  font-family: @font-text;
  font-weight: 400;
  .set-font-size(16px; 16px);
  color: @greyish-brown;
}

.footer__logo,
.footer__social {
  border-bottom: 1px solid @grey-d9;
}

.footer__logo {
  padding-bottom: 31px;
}

.footer__social {
  padding-top: 21px;
  padding-bottom: 18px;
}

.footer__copyright {
  padding-top: 22px;
  padding-bottom: 22px;
}
