.footer__inner {
  background-color: @grey-f2;
  padding-top: 39px;
  text-align: center;
}

.footer__for-dealers {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 26px;
}

.footer__map {
  background-color: @under-map-color;
  height: 400px;
  text-align: center;
}

.footer__map-block--grey {
  background-color: @grey-f2;
}

.footer__link {
  font-family: @font-text;
  font-weight: 400;
  .set-font-size(16px; 16px);
  color: @greyish-brown;
}

.footer__logo,
.footer__social {
  border-bottom: 1px solid @grey-d9;
}

.footer__logo {
  text-align: center;
  padding-bottom: 31px;
}

.footer__social {
  padding-top: 21px;
  padding-bottom: 18px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .footer__logo,
  .footer__social {
    border: none;
    margin-right: 45px;
  }

  .footer__logo,
  .footer__social,
  .footer__copyright {
    padding: 0;
  }

  .footer__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__inner {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .footer__link {
    margin-right: 23px;
  }
}
