.for-dealers__text,
.for-dealers__address {
  .reset-to-zero();
  width: 50%;
}

.for-dealers__text {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(16px; 20px);
  color: @black;
  .uppercase();
}

.for-dealers__address {
  font-family: @font-text;
  font-weight: 400;
  .set-font-size(14px; 20px);
  color: @greyish-brown;
}
