.header {
  padding-top: 11px;
}

@media (min-width: @tablet-width) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding-top: 53px;
    padding-bottom: 29px;
  }

  .header__image::before {
    display: block;
    position: absolute;
    content: "";
    background: @green url("../img/index-background-desktop@1x.jpg") no-repeat top right;
    .set-img-size(@desktop-width/2; 696px);
    z-index: -1;
    top: 0;
    right: 0;
  }
}
