.header {
  padding-top: 11px;
  padding-bottom: 15px;
  .padding-l-r();
}

@media (min-width: @tablet-width) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    .padding-l-r(30px; 30px);
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding-top: 53px;
    padding-bottom: 29px;
    .padding-l-r(110px; 110px);
  }
}
