.select-program {
  position: relative;
  min-height: 480px;
  background-color: inherit;
  padding-top: 26px;
  margin-bottom: 22px;
}

.select-program::before {
  .pseudo();
  background: @green-under-cat url("../img/index-background-mobile@1x.jpg") no-repeat top center;
  .set-img-size(320px; 305px);
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.select-program__title,
.select-program__slogan {
  margin: 0;
  text-align: center;
  color: @white;
}

.select-program__title,
.select-program__button {
  font-family: @font-title;
  font-weight: 400;
}

.select-program__title {
  .set-font-size(36px; 36px);
  margin-bottom: 26px;
}

.select-program__slogan {
  margin-bottom: 29px;
  .set-font-size(14px; 14px);
  .uppercase();
}

.select-program__image {
  text-align: center;
}

.select-program__button {
  .set-font-size();
}

@media (min-width: @tablet-width) {
  .select-program {
    padding-top: 18px;
    margin-bottom: 348px;
  }

  .select-program__wrap {
    position: relative;
    padding-left: 88px;
  }

  .select-program::before {
    display: none;
  }

  .select-program__title {
    text-align: left;
    .set-font-size(60px; 60px);
    color: @black;
    width: 480px;
    margin-bottom: 41px;
  }

  .select-program__slogan {
    text-align: left;
    .set-font-size(20px; 20px);
    color: @black;
    margin-bottom: 48px;
  }

  .select-program__button {
    .set-font-size(20px; 20px);
    width: 245px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .select-program__image-move {
    position: absolute;
    .set-img-size(auto; 609px);
    left: 80px;
    top: 200px;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .select-program {
    margin-bottom: 92px;
  }

  .select-program__slogan {
    margin-bottom: 53px;
  }

  .select-program__wrap {
    position: relative;
    padding-left: 80px;
  }

  .select-program__image-move {
    position: absolute;
    top: 0;
    left: 0;
    .set-img-size(auto; 500px);
    transform: translate(483px, -81px);
  }
}
