.site-list__item {
  text-align: center;
  padding: 24px 0;
  color: @black;
  .uppercase();
  border-top: 1px solid @grey-e6;
}

.site-list__item:last-child {
  border-bottom: 1px solid @grey-e6;
}

.site-list__link {
  font-family: @font-title;
  font-weight: 500;
  color: @black;
  .set-font-size(20px; 20px);
}
