.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .reset-to-zero();
  .list-style-none();
  min-width: 140px;
}

.social__item:not(:last-child) {
  margin-right: 36px;
}

@media (min-width: @tablet-width) {
  .social {
    &__vk {
      width: 30px;
      height: 23px;
    }

    &__insta {
      width: 23px;
      height: 23px;
    }

    &__fb {
      width: 14px;
      height: 28px;
    }
  }
}
