.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .reset-to-zero();
  .list-style-none();
}

.social__item:not(:last-child) {
  margin-right: 36px;
}
