.type {
  margin-bottom: 16px;
}

.type__list {
  .reset-to-zero();
  .list-style-none();
}

@media (min-width: @tablet-width) {
  .type {
    margin-bottom: 51px;
  }
}

@media (min-width: @desktop-width) {
  .type {
    margin-bottom: 39px;
  }
}
