.cat-owner__title {
  font-family: @font-title;
  font-weight: 400;
  color: @black;
  .set-font-size(24px; 24px);
  padding-top: 20px;
  margin-bottom: 30px;
}

.cat-owner__label {
  position: relative;
  display: flex;
  align-items: center;
  font-family: @font-title;
  font-weight: 400;
  color: @black-label;
  .set-font-size(16px; 18px);
  .uppercase();
  margin-bottom: 14px;
}

.cat-owner__input {
  font-family: @font-title;
  font-weight: 400;
  color: @greyish-brown;
  .set-font-size(16px; 18px);
  .uppercase();
  margin-left: 12px;
  min-height: 45px;
  .padding-l-r(14px; 46px);
  border: 1px solid @grey-e6;
  flex-grow: 1;
}

.cat-owner__icon-mail {
  position: absolute;
  top: 15px;
  right: 15px;
  .set-img-size(18px; 14px);
}

.cat-owner__icon-phone {
  position: absolute;
  top: 13px;
  right: 12px;
  .set-img-size(21px; 21px);
}

@media (min-width: @tablet-width) {
  .cat-owner__title {
    .set-font-size(36px; 36px);
    margin-bottom: 70px;
    padding-top: 0;
  }

  .cat-owner__input {
    margin-left: 18px;
    padding-left: 20px;
    .set-font-size(20px; 20px);
    height: 52px;
  }

  .cat-owner__label {
    margin-bottom: 20px;
    .set-font-size(20px; 20px);
  }

  .cat-owner__label:first-child {
    padding-left: 2px;
  }

  .cat-owner__input[type="tel"]  {
    margin-left: 15px;
  }

  .cat-owner__icon-mail {
    top: 20px;
    right: 19px;
  }

  .cat-owner__icon-phone {
    top: 18px;
    right: 16px;
  }
}

@media (min-width: @desktop-width) {
  .cat-owner__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cat-owner__label {
    width: 572px;
  }

  .cat-owner__icon-mail {
    top: 21px;
    right: 21px;
  }

  .cat-owner__icon-phone {
    right: 19px;
  }

  .cat-owner__input {
    margin-left: 21px;
    .padding-l-r(18px; 57px);
  }

  .cat-owner__input[type="tel"]  {
    margin-left: 17px;
  }
}
