.comment {
  border: none;
}

.comment__title {
  font-family: @font-title;
  font-weight: 400;
  color: @black;
  .set-font-size(24px; 24px);
  margin-bottom: 30px;
}

.comment__textarea {
  font-family: @font-title;
  font-weight: 400;
  color: @greyish-brown;
  .set-font-size(16px; 18px);
  .uppercase();
  width: 100%;
}
