.extra {
  border: none;
}

.extra__title {
  font-family: @font-title;
  font-weight: 400;
  color: @black;
  .set-font-size(24px; 24px);
  margin-bottom: 35px;
}

.extra__list {
  .list-style-none();
  .reset-to-zero();
}

.extra__item {
  position: relative;
  font-family: @font-title;
  font-weight: 400;
  color: @black-label;
  .set-font-size(16px; 18px);
  .uppercase();
  margin-bottom: 25px;
}

.extra__item::before {
  .pseudo();
  border: 1px solid @grey-cd;
  .set-img-size(30px; 30px);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.extra__label {
  position: relative;
  .padding-l-r(47px; 5px);
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.extra__input-checkbox:checked + .extra__label::before {
  .pseudo();
  background: url("../img/icon-tick.svg");
  .set-img-size(22px; 17px);
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

@media (min-width: @tablet-width) {
  .extra__title {
    .set-font-size(36px; 36px);
    margin-bottom: 53px;
  }

  .extra__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .extra__item {
    .set-font-size(20px; 20px);
    width: 285px;
    margin-bottom: 52px;
  }
}
