.form__cat-info {
  margin-left: -20px;
  margin-right: -20px;
  .padding-l-r(20px; 20px);
  padding-bottom: 23px;
}

.form__cat-program {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 8px;
  .padding-l-r(20px; 20px);
  padding-top: 26px;
  padding-bottom: 26px;
  border: 1px solid @grey-e6;
}

.form__cat-owner {
  .padding-l-r(0; 0);
  margin-left: 0;
  margin-right: 0;
  border: none;
  margin-bottom: 5px;
}

.form__comment {
  .padding-l-r(0; 0);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 16px;
}

.form__extra {
  .padding-l-r(0; 0);
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .form__cat-info {
    border: none;
    margin-bottom: 49px;
  }

  .form-wrapper {
    margin-left: 40px;
    margin-right: 37px;
  }

  .form__cat-program {
    padding: 33px 20px 35px 28px;
    margin-left: 42px;
    margin-right: 37px;
    margin-bottom: 75px;
  }

  .form__cat-owner {
    padding-bottom: 41px;
  }

  .form__comment {
    margin-bottom: 53px;
  }

  .form__extra {
    padding-bottom: 13px;
  }

  .form__send-request {
    margin-left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .form__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
  }

  .form__cat-info,
  .form__cat-program {
    .reset-to-zero();
    width: 570px;
  }

  .form-wrapper {
    margin: 0;
    .padding-l-r(0; 0);
  }

  .form__extra {
    padding-bottom: 20px;
  }

  .form__cat-owner {
    margin-bottom: 7px;
  }

  .form__comment {
    margin-bottom: 55px;
  }
}
