.form__cat-info {
  padding-bottom: 23px;
  .padding-l-r();
  border-bottom: 1px solid @grey-ed;
}

.form__cat-program {
  padding-top: 21px;
  padding-bottom: 22px;
  margin-bottom: 30px;
  .padding-l-r();
  border-bottom: 1px solid @grey-ed;
}

.form__cat-owner {
  padding-bottom: 31px;
  .padding-l-r();
}

.form__comment {
  padding-bottom: 15px;
  margin-bottom: 15px;
  .padding-l-r();
}

.form__extra {
  padding-bottom: 43px;
  .padding-l-r();
}

.form__send-request {
  .padding-l-r();
}
