.pick-info {
  padding-top: 15px;
  padding-bottom: 32px;
}

.pick-info__form {
  margin-left: -1px;
}

.pick-info__title {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(36px; 60px);
  color: @black;
  margin: 0;
  margin-bottom: 25px;
}

.pick-info__text {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(14px; 18px);
  color: @black;
  .uppercase();
  margin: 0;
  margin-bottom: 34px;
}

@media (min-width: @tablet-width) {
  .pick-info {
    padding-top: 18px;
    padding-bottom: 35px;
  }

  .pick-info__title {
    .set-font-size(60px; 60px);
    margin-bottom: 56px;
  }

  .pick-info__text {
    .set-font-size(20px; 30px);
    margin-bottom: 60px;
  }

  .pick-info__form {
    margin-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .pick-info__form {
    margin-bottom: 48px;
  }

  .pick-info__text {
    margin-bottom: 63px;
  }
}
