.send-request__button {
  border: none;
  margin-bottom: 23px;
}

.send-request__footnote {
  font-family: @font-text;
  font-weight: 400;
  .set-font-size(14px; 16px);
  color: @greyish-brown;
  text-align: center;
  margin: 0;
}
