.additional {
  margin-top: -12px;
  padding-bottom: 35px;
}

.additional__title {
  .reset-to-zero();
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(24px; 24px);
  color: @black;
  padding-bottom: 35px;
}

.additional__text {
  display: inline-block;
  background-color: @white;
  .padding-l-r(20px; 22px);
  margin-left: -20px;
}

.additional__green-line {
  position: relative;

  &::before {
    .green-line-set();
  }
}

@media (min-width: @tablet-width) {
  .additional {
    padding-top: 0;
    margin-top: -74px;
    margin-bottom: 40px;
  }

  .additional__title {
    .set-font-size(36px; 36px);
    padding-left: 38px;
    margin-bottom: 46px;
  }

  .additional__list--custom {
    flex-direction: column;
  }

  .additional__list--custom.product {
    .padding-l-r(0; 0);
    margin-bottom: 69px;
  }

  .additional__text {
    .padding-l-r(40px; 35px);
    margin-left: -40px;
  }

  .additional__green-line::before {
    .green-line-set(22px);
  }
}

@media (min-width: @desktop-width) {
  .additional {
    margin-top: -67px;
    margin-bottom: 0;
  }

  .additional__title {
    padding-left: 9px;
    margin-left: -40px;
    margin-bottom: 45px;
  }

  .additional__list--custom {
    width: 895px;
  }

  .additional__flex {
    display: flex;
    justify-content: space-between;
  }

  .additional__list--custom.product {
    margin-bottom: 50px;
    margin-left: 1px;
  }

  .additional__text {
    .padding-l-r(40px; 35px);
    margin-left: -10px;
  }
}
