.catalog {
  margin-top: 20px;
}

.catalog__title {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(36px; 60px);
  color: inherit;
  margin: 0;
  margin-bottom: 20px;
  .padding-l-r();
}
