.catalog__title {
  font-family: @font-title;
  font-weight: 400;
  .set-font-size(36px; 60px);
  color: @black;
  margin: 0;
  margin-bottom: 28px;
  padding-top: 15px;
}

.catalog__list {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    .set-font-size(60px; 60px);
    margin-bottom: 166px;
    padding-top: 18px;
  }
}
