.product,
.product__link,
.product__text {
  .reset-to-zero();
}

.product {
  .list-style-none();
  margin-bottom: 39px;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
  .padding-l-r();
  border-top: 1px solid @grey-ed;
  min-height: 210px;
  margin-top: -1px;
  margin-left: -20px;
  margin-right: -20px;
}

.product__item:last-child {
  border-bottom: 1px solid @grey-ed;
}

.product__item--custom {
  border-top: 1px solid @grey-cd;
  padding-top: 11px;
  padding-bottom: 17px;
  .padding-l-r(1px; 0);
  min-height: 130px;
  margin-left: 0;
  margin-right: 0;
}

.product__item--custom:last-child {
  border-bottom: 1px solid @grey-cd;
}

.product__title {
  .reset-to-zero();
  margin-bottom: 12px;
  padding-top: 21px;
  padding-right: 30%;
}

.product__title--custom {
  padding: 0;
  margin-bottom: 11px;
}

.product__link {
  font-family: @font-title;
  font-weight: 400;
  color: @black;
  .set-font-size(16px; 20px);
  .uppercase();
}

.product__link--more {
  position: relative;
  text-align: center;
  margin-top: 59px;
  margin-bottom: 8px;
  padding-top: 21px;
}

.product__link--more::before {
  .pseudo();
  background: url("../img/no-sprite-icon-plus-mobile.svg") no-repeat;
  .set-img-size(31px; 31px);
  top: -32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 20%;
}

.product__text {
  font-family: @font-text;
  .set-font-size(12px; 16px);
  text-align: center;
  margin-bottom: 22px;
}

.product__more-button {
  background-color: @grey-f2;
  color: @greyish-brown;

  &:hover,
  &:focus {
    background-color: @grey-eb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.product__value,
.product__field {
  padding: 0;
  font-family: @font-text;
  font-weight: 400;
  color: @greyish-brown;
  .set-font-size(12px; 16px);
}

.product__value {
  width: 65%;
}

.product__field {
  text-align: right;
  width: 35%;
}

.product__description {
  width: 100%;
  border-collapse: collapse;
}

.product__description--custom {
  margin-bottom: 14px;
}

.product__button {
  font-family: @font-title;
  font-weight: 400;
  color: @white;
  .set-font-size(16px; 20px);
}

.product__package,
.product__price {
  font-family: @font-text;
  font-weight: 400;
  color: @greyish-brown;
  .set-font-size(14px; 14px);
  padding: 0;
}

.product__price {
  text-align: right;
}

.product__inner {
  display: flex;
}

.product__image,
.product__info {
  width: 50%;
}

.product__pict {
  display: block;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .padding-l-r(20px; 20px);
    margin-bottom: 0;
  }

  .product__inner {
    flex-direction: column;
    justify-content: space-between;
  }

  .product__item {
    border: none;
    width: 324px;
    min-height: 431px;
    background-color: @white-four;
    margin-bottom: 141px;
    .padding-l-r(38px; 37px);
    padding-bottom: 40px;
  }

  .product__item:last-child {
    border: 1px solid @grey-e6;
    background-color: @white;
  }

  .product__image,
  .product__info {
    width: auto;
  }

  .product__image {
    margin-left: -38px;
    margin-right: -38px;
    margin-top: -82px;
    margin-bottom: 37px;
  }

  .product__can {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 208px;
  }

  .product__title {
    padding: 0;
    margin-bottom: 21px;
    text-align: center;
    .padding-l-r(20%; 20%);
  }

  .product__item--custom {
    min-height: 140px;
    background-color: @white;
    border: 1px solid @grey-e6;
    margin: 0;
    width: auto;
    padding-top: 26px;
    padding-bottom: 27px;
    margin-top: -1px;
  }

  .product__box {
    display: flex;
  }

  .product__title--custom,
  .product__description--custom {
    .reset-to-zero();
    width: 50%;
  }

  .product__link {
    .set-font-size(20px; 20px);
    margin: 0;
    margin-bottom: 28px;
  }

  .product__link--more {
    .padding-l-r(20%; 20%);
    padding-top: 163px;
    margin-bottom: 25px;
    .uppercase();
  }

  .product__link--more::before {
    background: url("../img/no-sprite-icon-plus.svg") no-repeat;
    .set-img-size(61px; 61px);
    top: 53px;
  }

  .product__more-button {
    font-family: @font-title;
    font-weight: 400;
    .set-font-size(16px; 20px);
    color: @greyish-brown;
    background-color: @grey-f2;
  }

  .product__text {
    font-family: @font-text;
    font-weight: 400;
    .set-font-size(16px; 20px);
    color: @greyish-brown;
    .padding-l-r(5%; 5%);
  }

  .product__value,
  .product__field {
    .set-font-size(16px; 16px);
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .product__row {
    border-bottom: 1px solid @grey-cd;
  }

  .product__row--custom {
    border: none;
    text-align: right;
  }

  .product__description {
    border-collapse: collapse;
  }

  .product__title--custom {
    text-align: left;
  }

  .product__package,
  .product__price {
    .set-font-size(16px; 20px);
    padding-top: 3px;
  }

  .product__package {
    width: 70%;
  }

  .product__price {
    width: 30%;
  }
}

@media (min-width: @desktop-width) {
  .product__item {
    width: 245px;
    margin-bottom: 143px;
    padding-right: 38px;
  }

  .product__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  .product__image {
    margin-top: -82px;
  }

  .product__title {
    .padding-l-r(5%; 5%);
  }

  .product__link--more,
  .product__text {
    .padding-l-r(0; 0);
  }

  .product__item--custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    min-height: auto;
    border: none;
    border-top: 1px solid @grey-cd;
    padding-top: 14px;
    padding-bottom: 17px;
    .padding-l-r(0; 0);
    margin: 0;
  }

  .product__item--custom:last-child {
    border: none;
    border-top: 1px solid @grey-cd;
    border-bottom: 1px solid @grey-cd;
  }

  .product__item--custom:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .product__package,
  .product__price {
    text-align: left;
  }

  .product__package {
    margin-right: auto;
    width: 84%;
  }

  .product__price {
    width: 16%;
  }

  .product__title--custom,
  .product__description--custom {
    width: 290px;
  }

  .product__title--custom {
    padding: 0;
  }

  .product__box {
    width: 620px;
    justify-content: space-between;
    padding-top: 6px;
    padding-right: 6px;
  }

  .product__button--custom {
    width: 245px;
  }
}
