.product {
  .list-style-none();
  margin-bottom: 39px;
}

.product,
.product__link,
.product__text {
  .reset-to-zero();
}

.product__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid @grey-ed;
  min-height: 210px;
}

.product__item:last-child {
  border-bottom: 1px solid @grey-ed;
}

.product__item--custom {
  border-top: 1px solid @grey-cd;
  padding-top: 14px;
  padding-bottom: 17px;
  .padding-l-r(0; 0);
  min-height: 130px;
}

.product__item--custom:last-child {
  border-bottom: 1px solid @grey-cd;
}

.product__title {
  .reset-to-zero();
  margin-bottom: 18px;
  padding-right: 30%;
}

.product__title--custom {
  margin-bottom: 15px;
}

.product__link {
  font-family: @font-title;
  font-weight: 400;
  color: @black;
  .set-font-size(16px; 20px);
  .uppercase();
}

.product__link--more {
  text-align: center;
  margin-top: 58px;
  margin-bottom: 11px;
}

.product__text {
  font-family: @font-text;
  .set-font-size(12px; 16px);
  text-align: center;
  margin-bottom: 22px;
}

.product__more-button {
  background-color: @grey-f2;
  color: @greyish-brown;
}

.product__value,
.product__field {
  font-family: @font-text;
  font-weight: 400;
  color: @greyish-brown;
  .set-font-size(12px; 16px);
}

.product__value {
  width: 65%;
}

.product__field {
  text-align: right;
  width: 35%;
}

.product__description {
  width: 100%;
  margin-bottom: 20px;
}

.product__description--custom {
  margin-bottom: 14px;
}

.product__button {
  font-family: @font-title;
  font-weight: 400;
  color: @white;
  .set-font-size(16px; 20px);
}

.product__package,
.product__price {
  font-family: @font-text;
  font-weight: 400;
  color: @greyish-brown;
  .set-font-size(14px; 14px);
}

.product__price {
  text-align: right;
}

.product__inner {
  display: flex;
}

.product__image,
.product__info {
  width: 50%;
}

.product__pict {
  display: block;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product__inner {
    flex-direction: column;
    justify-content: space-between;
  }

  .product__item {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 324px;
    min-height: 431px;
    background-color: @white-four;
    margin-bottom: 140px;
    .padding-l-r(38px; 38px);
  }

  .product__item:last-child {
    border: 1px solid @grey-e6;
    background-color: @white;
  }

  .product__image,
  .product__info {
    width: auto;
  }

  .product__image {
    margin: 0 auto;
  }

  .product__title {
    padding: 0;
    text-align: center;
    .padding-l-r(20%; 20%);
    padding-top: 90px;
  }

  .product__item--custom {
    min-height: 140px;
    background-color: @white;
    border: 1px solid @grey-e6;
    margin: 0;
    width: auto;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-top: -1px;
  }

  .product__box {
    display: flex;
  }

  .product__title--custom,
  .product__description--custom {
    .reset-to-zero();
    width: 50%;
  }

  .product__link {
    .set-font-size(20px; 20px);
    margin: 0;
    margin-bottom: 28px;
  }

  .product__link--more {
    .padding-l-r(20%; 20%);
    padding-top: 141px;
    .uppercase();
  }

  .product__more-button {
    font-family: @font-title;
    font-weight: 400;
    .set-font-size(16px; 20px);
    color: @greyish-brown;
    background-color: @grey-f2;
  }

  .product__text {
    font-family: @font-text;
    font-weight: 400;
    .set-font-size(16px; 20px);
    color: @greyish-brown;
    .padding-l-r(5%; 5%);
  }

  .product__value,
  .product__field {
    .set-font-size(16px; 16px);
  }

  .product__row {
    border-bottom: 1px solid @grey-cd;
    height: 31px;
  }

  .product__row--custom {
    border: none;
    text-align: right;
  }

  .product__description {
    border-collapse: collapse;
  }

  .product__title--custom {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .product__item {
    width: 245px;
  }

  .product__title {
    .padding-l-r(5%; 5%);
  }

  .product__link--more,
  .product__text {
    .padding-l-r(0; 0);
  }

  .product__item--custom {
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: auto;
    border: none;
    border-top: 1px solid @grey-cd;
    padding-top: 14px;
    padding-bottom: 17px;
    .padding-l-r(0; 0);
  }

  .product__item--custom:last-child {
    border: none;
    border-top: 1px solid @grey-cd;
    border-bottom: 1px solid @grey-cd;
  }

  .product__package {
    text-align: left;
  }

  .product__title--custom,
  .product__description--custom {
    width: 285px;
  }

  .product__title--custom {
    padding: 0;
  }

  .product__box {
    width: 610px;
    justify-content: space-between;
    align-items: center;
  }

  .product__button--custom {
    width: 245px;
  }
}
