body {
  margin: 0;
  padding: 0;
  font-family: @font-title;
  background-color: @white;
  color: @greyish-brown;
  font-weight: 400;
  .set-font-size();
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-wrap {
  min-width: @mobile-width;
}

.reset-to-zero {
  margin: 0;
  padding: 0;
}

.list-style-none {
  list-style: none;
}

.set-img-size(@width; @height) {
  width: @width;
  height: @height;
}

.padding-l-r(@padding-left: 20px; @padding-right: 20px) {
  padding-left: @padding-left;
  padding-right: @padding-right;
}

.uppercase {
  text-transform: uppercase;
}

.set-font-size(@font-size: 14px; @line-height: 18px) {
  font-size: @font-size;
  line-height: @line-height;
}
