.page-wrap {
  width: @mobile-width;
  margin: 0 auto;
  .padding-l-r();

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    .padding-l-r(30px; 30px);
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    .padding-l-r(40px; 40px);
  }
}
