//Шрифты
@font-title: "Oswald", "Arial", sans-serif;
@font-text: "Arial", "Helvetica", sans-serif;


// цвета
@white: #ffffff;
@grey-f2: #f2f2f2;
@grey-e6: #e6e6e6;
@grey-ed: #ededed;
@grey-cd: #cdcdcd;
@grey-d9: #d9d9d9;
@green: #68b738;
@greyish-brown: #444444;
@black: #111111;
@black-label: #222222;
@under-map-color: #fdf7ef;

// размеры страницы
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1300px;
